In [4]:
# Dependencies
import requests
import json
import pandas as pd 
import numpy as np
import quandl

In [5]:
quandl.ApiConfig.api_key = 'vB6oHc1F6yUH6gUMZTEe'

In [ ]:
question = ("What stock data would you like to search for? ")
stock_ticker = input(question)

In [8]:
stock_open_close = quandl.get('EOD/Aapl', api_key='vB6oHc1F6yUH6gUMZTEe')

In [9]:
stock_open_close.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2013-09-03,493.10,500.60,487.35,488.580,11854600.0,0.0,1.0,62.867770,63.823982,62.134674,62.291493,82982200.0
2013-09-04,499.56,502.24,496.28,498.691,12322600.0,0.0,1.0,63.691388,64.033074,63.273204,63.580594,86258200.0
2013-09-05,500.25,500.68,493.64,495.270,8441700.0,0.0,1.0,63.779359,63.834182,62.936617,63.144434,59091900.0
2013-09-06,498.44,499.38,489.95,498.220,12840200.0,0.0,1.0,63.548593,63.668439,62.466161,63.520544,89881400.0
2013-09-09,505.00,507.92,503.48,506.170,12167400.0,0.0,1.0,64.384960,64.757246,64.191168,64.534129,85171800.0

In [10]:
stock_open_close_df = stock_open_close[['Open','High','Low','Close','Volume']]
stock_open_close_df = stock_open_close_df.reset_index()

In [11]:
stock_open_close_df.head()

        Date    Open    High     Low    Close      Volume
0 2013-09-03  493.10  500.60  487.35  488.580  11854600.0
1 2013-09-04  499.56  502.24  496.28  498.691  12322600.0
2 2013-09-05  500.25  500.68  493.64  495.270   8441700.0
3 2013-09-06  498.44  499.38  489.95  498.220  12840200.0
4 2013-09-09  505.00  507.92  503.48  506.170  12167400.0

In [12]:
data = stock_open_close_df
stock_average_open = np.mean(data['Open'])
stock_std_open = np.std(data['Open'])
stock_high_open = np.max(data['Open'])
stock_low_open = np.min(data['Open'])

In [13]:
stock_average_high = np.mean(data['High'])
stock_std_high = np.std(data['High'])
stock_high_high = np.max(data['High'])
stock_low_high = np.min(data['High'])

In [14]:
stock_average_low = np.mean(data['Low'])
stock_std_low = np.std(data['Low'])
stock_high_low = np.max(data['Low'])
stock_low_low = np.min(data['Low'])

In [15]:
stock_average_close = np.mean(data['Close'])
stock_std_close = np.std(data['Close'])
stock_high_close = np.max(data['Close'])
stock_low_close = np.min(data['Close'])

In [16]:
stock_average_volume = np.mean(data['Volume'])
stock_std_volume = np.std(data['Volume'])
stock_high_volume = np.max(data['Volume'])
stock_low_volume  = np.min(data['Volume'])

In [17]:
stock_mean_std = []

In [18]:
d = {'Row Label': ["Average", "Standard Deviation", "High", "Low"], 
     'Open': [stock_average_open, stock_std_open, stock_high_open, stock_low_open],
     'High': [stock_average_high, stock_std_high, stock_high_high, stock_low_high], 
     'Low': [stock_average_low, stock_std_low, stock_high_low, stock_low_low], 
     'Close': [stock_average_close, stock_std_close, stock_high_close, stock_low_close],
     'Volume': [stock_average_volume, stock_std_volume, stock_high_volume, stock_low_volume]}
df = pd.DataFrame(data=d)

In [19]:
df

,Row Label,Open,High,Low,Close,Volume
0,Average,194.564537,196.114735,193.016676,194.613130,3.605114e+07
1,Standard Deviation,160.489179,161.738655,159.334242,160.573828,2.193466e+07
2,High,649.900000,651.260000,644.470000,647.350000,1.895606e+08
3,Low,90.000000,90.700000,89.470000,90.280000,5.704900e+06

In [ ]:
stock_average_open

In [24]:
y = stock_open_close_df["Close"]
X = stock_open_close_df.drop(columns = ["Close", "Date"])

In [25]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [26]:
X_train.head()

        Open    High     Low      Volume
92    538.22  546.73  537.66  11877200.0
695    99.25   99.87   98.96  22409450.0
1050  169.87  169.94  165.61  33637762.0
759   107.83  108.76  107.07  42364328.0
294   108.01  108.04  107.21  44639285.0

In [27]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [28]:
from tensorflow.keras.utils import to_categorical

label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

ValueError: y contains previously unseen labels: [92.08, 92.18, 93.24, 93.4, 93.48, 93.52, 93.7, 94.02, 94.03, 94.27, 94.4, 94.43, 94.78, 94.99, 95.1, 95.39, 95.53, 95.59, 95.97, 96.04, 96.66, 96.79, 97.14, 97.72, 97.82, 97.92, 97.99, 98.63, 98.78, 99.43, 99.44, 99.52, 99.81, 99.9, 100.11, 100.35, 100.57, 100.58, 100.8, 100.889, 101.06, 101.42, 101.5, 101.63, 102.47, 103.01, 103.12, 103.13, 104.34, 104.35, 105.08, 105.11, 105.22, 105.35, 105.52, 105.99, 106.0, 106.1, 106.73, 106.94, 107.11, 107.34, 107.48, 107.7, 107.73, 108.6, 108.7, 108.81, 108.84, 108.98, 109.01, 109.06, 109.22, 109.25, 109.33, 109.73, 109.8, 109.9, 109.99, 110.41, 110.44, 111.59, 111.78, 111.95, 112.31, 112.71, 113.91, 114.55, 114.67, 115.0, 115.15, 115.21, 115.28, 115.47, 115.62, 116.29, 116.31, 116.41, 116.47, 116.95, 116.98, 117.06, 117.12, 117.29, 117.34, 117.47, 118.44, 118.9, 119.25, 119.94, 119.99, 121.3, 121.35, 122.0, 122.02, 122.77, 122.99, 124.51, 125.32, 125.8, 125.865, 125.9, 126.0, 126.3, 126.32, 126.75, 126.85, 126.92, 127.08, 127.14, 127.17, 127.495, 128.62, 128.715, 128.77, 128.88, 129.08, 130.07, 130.12, 130.19, 131.39, 131.53, 132.17, 138.99, 139.0, 139.78, 140.92, 141.05, 141.46, 142.44, 143.34, 143.79, 143.93, 144.09, 145.06, 145.16, 145.42, 146.28, 146.58, 146.59, 147.77, 149.56, 150.25, 151.89, 153.01, 153.06, 153.26, 153.61, 153.87, 153.93, 154.48, 155.37, 155.45, 155.84, 156.17, 156.25, 156.41, 157.14, 157.41, 157.5, 157.86, 158.63, 158.67, 159.78, 160.86, 161.26, 161.91, 162.91, 164.05, 169.98, 171.34, 173.14, 174.35, 175.88, 455.32, 467.71, 472.3, 480.94, 483.03, 495.27, 498.22, 498.68, 501.114, 506.5, 508.79, 512.59, 515.0, 518.629, 519.048, 519.55, 519.68, 519.8, 520.634, 522.06, 523.74, 526.75, 529.876, 531.17, 531.26, 533.4, 539.19, 539.78, 543.46, 543.93, 544.43, 544.46, 549.07, 550.5, 551.23, 554.43, 560.02, 561.02, 561.36, 567.901, 570.09, 593.76, 600.96, 604.59, 624.01]