In [1]:
# Dependencies
import requests
import json
import pandas as pd 
import numpy as np
import quandl

In [2]:
quandl.ApiConfig.api_key = 'vB6oHc1F6yUH6gUMZTEe'

In [3]:
#question = ("What stock data would you like to search for? ")
#stock_ticker = input(question)

In [4]:
stock_open_close = quandl.get('EOD/HD', api_key='vB6oHc1F6yUH6gUMZTEe')

In [5]:
stock_open_close.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2013-09-03,74.83,75.25,73.68,73.90,7802800.0,0.39,1.0,64.647239,65.010086,63.653729,63.843792,7802800.0
2013-09-04,73.98,74.51,73.74,74.14,8271600.0,0.00,1.0,63.912905,64.370784,63.705564,64.051133,8271600.0
2013-09-05,74.07,74.21,72.84,72.99,11039000.0,0.00,1.0,63.990658,64.111607,62.928035,63.057623,11039000.0
2013-09-06,73.55,73.56,72.21,72.70,9968400.0,0.00,1.0,63.541419,63.550058,62.383765,62.807086,9968400.0
2013-09-09,72.98,73.79,72.90,73.58,5781800.0,0.00,1.0,63.048984,63.748760,62.979870,63.567337,5781800.0

In [31]:
stock_open_close_df = stock_open_close[['Open','High','Low','Close','Volume']]
stock_open_close_df = stock_open_close_df.reset_index()
stock_open_close_df['Move'] = np.where((stock_open_close_df['Open'] >= df['Close']), "decrease", "increase")
stock_open_close_df.head()

        Date   Open   High    Low  Close      Volume      Move
0 2013-09-03  74.83  75.25  73.68  73.90   7802800.0  decrease
1 2013-09-04  73.98  74.51  73.74  74.14   8271600.0  increase
2 2013-09-05  74.07  74.21  72.84  72.99  11039000.0  decrease
3 2013-09-06  73.55  73.56  72.21  72.70   9968400.0  decrease
4 2013-09-09  72.98  73.79  72.90  73.58   5781800.0  increase

In [7]:
data = stock_open_close_df
stock_average_open = np.mean(data['Open'])
stock_std_open = np.std(data['Open'])
stock_high_open = np.max(data['Open'])
stock_low_open = np.min(data['Open'])

In [8]:
stock_average_high = np.mean(data['High'])
stock_std_high = np.std(data['High'])
stock_high_high = np.max(data['High'])
stock_low_high = np.min(data['High'])

In [9]:
stock_average_low = np.mean(data['Low'])
stock_std_low = np.std(data['Low'])
stock_high_low = np.max(data['Low'])
stock_low_low = np.min(data['Low'])

In [10]:
stock_average_close = np.mean(data['Close'])
stock_std_close = np.std(data['Close'])
stock_high_close = np.max(data['Close'])
stock_low_close = np.min(data['Close'])

In [11]:
stock_average_volume = np.mean(data['Volume'])
stock_std_volume = np.std(data['Volume'])
stock_high_volume = np.max(data['Volume'])
stock_low_volume  = np.min(data['Volume'])

In [12]:
stock_mean_std = []

In [13]:
d = {'Row Label': ["Average", "Standard Deviation", "High", "Low"], 
     'Open': [stock_average_open, stock_std_open, stock_high_open, stock_low_open],
     'High': [stock_average_high, stock_std_high, stock_high_high, stock_low_high], 
     'Low': [stock_average_low, stock_std_low, stock_high_low, stock_low_low], 
     'Close': [stock_average_close, stock_std_close, stock_high_close, stock_low_close],
     'Volume': [stock_average_volume, stock_std_volume, stock_high_volume, stock_low_volume]}
df = pd.DataFrame(data=d)

In [14]:
df

,Row Label,Open,High,Low,Close,Volume
0,Average,118.182119,119.028030,117.356270,118.225661,5.415875e+06
1,Standard Deviation,28.169365,28.302733,28.052645,28.196353,2.273519e+06
2,High,190.910000,191.490000,190.010000,190.360000,2.075320e+07
3,Low,72.980000,73.560000,72.210000,72.700000,1.517075e+06

In [15]:
stock_average_open

118.18211926605505

In [16]:
X = stock_open_close_df.drop(columns = ["Close", "Date"])
y = stock_open_close_df["Close"].values.reshape(-1, 1)

In [17]:
print(X.shape, y.shape)

(1090, 4) (1090, 1)

In [18]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [19]:
X_train.head()

        Open     High     Low     Volume
92     81.28   81.488   80.61  5217300.0
695   129.38  130.800  129.32  4433982.0
1050  166.42  166.740  165.12  3568321.0
759   133.30  133.870  132.16  4676049.0
294    98.78   99.257   97.33  6336392.0

In [20]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

In [21]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

# Linear Regression

In [22]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train_scaled, y_train_scaled)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
print('Weight coefficients: ', model.coef_)
print('y-axis intercept: ', model.intercept_)

Weight coefficients:  [[-0.54531913  0.84650492  0.6980811  -0.00152312]]
y-axis intercept:  [-8.53560494e-16]

In [24]:
predictions = model.predict(X)
print(f"True output: {y[0]}")
print(f"Predicted output: {predictions[0]}")
print(f"Prediction Error: {predictions[0]-y[0]}")

True output: [73.9]
Predicted output: [-11810.30739738]
Prediction Error: [-11884.20739738]

In [25]:
from sklearn.metrics import mean_squared_error, r2_score


predicted = model.predict(X_test)

mse = mean_squared_error(y_test, predicted)
r2 = r2_score(y_test, predicted)

print(f"Mean Squared Error (MSE): {mse}")
print(f"R-squared (R2 ): {r2}")

Mean Squared Error (MSE): 84397293.17789806
R-squared (R2 ): -109762.57153227332

# Random Forrests

In [26]:
from sklearn import tree
import pandas as pd
import os

In [27]:
stock_open_close_df.head()

        Date   Open   High    Low  Close      Volume
0 2013-09-03  74.83  75.25  73.68  73.90   7802800.0
1 2013-09-04  73.98  74.51  73.74  74.14   8271600.0
2 2013-09-05  74.07  74.21  72.84  72.99  11039000.0
3 2013-09-06  73.55  73.56  72.21  72.70   9968400.0
4 2013-09-09  72.98  73.79  72.90  73.58   5781800.0

In [28]:
stock_open_close_df 
df['que'] = np.where((df['Open'] >= df['Close']), "decrease", "increase")
df = stock_open_close_df

In [29]:
df.head()

        Date   Open   High    Low  Close      Volume
0 2013-09-03  74.83  75.25  73.68  73.90   7802800.0
1 2013-09-04  73.98  74.51  73.74  74.14   8271600.0
2 2013-09-05  74.07  74.21  72.84  72.99  11039000.0
3 2013-09-06  73.55  73.56  72.21  72.70   9968400.0
4 2013-09-09  72.98  73.79  72.90  73.58   5781800.0

In [32]:
target = stock_open_close_df["Move"]
target_names = ["negative", "positive"]

In [33]:
data = stock_open_close_df.drop(columns = ["Close", "Date", "Move"])
feature_names = data.columns
data.head()

    Open   High    Low      Volume
0  74.83  75.25  73.68   7802800.0
1  73.98  74.51  73.74   8271600.0
2  74.07  74.21  72.84  11039000.0
3  73.55  73.56  72.21   9968400.0
4  72.98  73.79  72.90   5781800.0

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [35]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.6446886446886447

In [ ]:
import preprocess_data as ppd
stocks = ppd.remove_data(stock_open_close_df)

In [ ]:
print(stocks.head())
print(stocks.tail())

In [ ]:
import visualize

visualize.plot_basic(stocks)